{%extends "layout.html"%}

{%block content%}

<div class="text-light bg-dark py-2 px-2 btn-group-lg mt-5 box rounded-2" data-bs-theme="dark" role="group" style="text-align:center" aria-label="Basic mixed styles example">
    <h1 class="text-warning bg-dark py-4 px-4" style="text-align: center">Operaciones en la base de datos</h1>
    <a type="button" class="btn btn-success py-4 px-4 col-2" href="{{url_for('insertar')}}">Crear</a>
    <a type="button" class="btn btn-warning py-4 px-4 col-2" href="{{url_for('actualizar')}}">Actualizar</a>
    <a type="button" class="btn btn-danger py-4 px-4 col-2" href="{{url_for('borrar')}}">Eliminar</a>

    <h3 class="mt-5 text-warning" >Actualizando datos...</h3>
    <p class="text-warning">Por favor llene los siguientes datos a continuacion</p>
    
    <div class="bg-dark py-4 px-4 text-bg-dark" style="text-align:center">
        <form method="POST" action="{{ url_for( 'about') }}">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle py-2 px-2 mb-5" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Seleccione Cuento
                </button>
                <ul class="dropdown-menu">
                  {% for cuento in cuentos %}
                  <option class="dropdown-item" name="cuentos_ids" value="{{ cuento[0] }}">{{ cuento[1] }}</option>
                  {% endfor %}
                </ul>
              </div>
            <button type="submit" class="btn btn-warning">Seleccionar Cuentos</button> <!-- Botón de envío -->
        </form>
      </div>

{%endblock%}