{%extends "layout.html"%}

{%block content%}
<div class="bg-dark py-2 px-2 btn-group-lg mt-5 box rounded-2" data-bs-theme="dark" role="group" style="text-align:center" aria-label="Basic mixed styles example">
  <h2 class="text-success bg-dark py-4 px-4" style="text-align: center">Operaciones en la base de datos</h2>
    <a type="button" class="btn btn-success py-4 px-4 col-2" href="{{url_for('insertar')}}">Crear</a>
    <a type="button" class="btn btn-warning py-4 px-4 col-2" href="{{url_for('actualizar')}}">Actualizar</a>
    <a type="button" class="btn btn-danger py-4 px-4 col-2" href="{{url_for('borrar')}}">Eliminar</a>
  

  <h3 class="mt-5 text-success">Insertando datos en la base de datos...</h3>
  <p class="text-success">Por favor llene los siguientes datos a continuacion</p>
  <form action="{{ url_for('insertar') }}" method="POST">
  <div class="row">
    <div class="col">
      <input type="text" class="form-control" name="titulo" value="{{ titulo if titulo else '' }}" placeholder="Titulo"> <!-- Esto asegura que, si la variable titulo está definida (por ejemplo, después de un error de validación o en un formulario de edición), su valor será mostrado. Si no está definida, el campo estará vacío -->
    </div>
    <div class="col">
      <input type="text" class="form-control" name="categoria" value="{{ categoria if categoria else '' }}" placeholder="Categoria">
    </div>
    <div class="col">
      <input type="text" class="form-control" name="descripcion" value="{{ descripcion if descripcion else '' }}" placeholder="Descripcion">
    </div>
  </div>
  <button class="btn btn-success mt-3" type="submit">Crear Cuento</button>
  </form>
</div>
{%endblock%}