{%extends "layout.html"%}

{%block content%}
<div class="bg-dark py-2 px-2 btn-group-lg mt-5 box rounded-2" data-bs-theme="dark" role="group" style="text-align:center" aria-label="Basic mixed styles example">
    <h2 class="py-4 px-4 text-light bg-dark" style="text-align: center">Operaciones en la base de datos</h2>
    <a type="button" class="btn btn-success py-4 px-4 col-2" href="{{url_for('insertar')}}">Crear</a>
    <a type="button" class="btn btn-warning py-4 px-4 col-2" href="{{url_for('actualizar')}}">Actualizar</a>
    <a type="button" class="btn btn-danger py-4 px-4 col-2" href="{{url_for('borrar')}}">Eliminar</a>
  
  
    <div class="bg-dark py-4 px-4 text-bg-dark" style="text-align:left">
      <h1>Resultados de la Consulta</h1>
        <table border="1" class="table table-striped table-dark">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Titulo</th>
                    <th>Categoria</th>
                    <th>Cuento</th>
                    <!-- Añade más columnas según tu tabla -->
                </tr>
            </thead>
            <tbody>
                {% for cuentos in cuentos %}
                    <tr>
                        
                        <td scope="row">{{ cuentos[0] }}</td>
                        <td scope="row">{{ cuentos[1] }}</td>
                        <td scope="row">{{ cuentos[2] }}</td>
                        <td scope="row">{{ cuentos[3] }}</td>
                        <!-- Añade más columnas según tu tabla -->
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
  
{%endblock%}