{%extends "layout.html"%}

{%block content%}
<div class="bg-light py-2 px-2 btn-group-lg mt-5" role="group" style="text-align:center" aria-label="Basic mixed styles example">
    <h2 class="bg-light py-4 px-4" style="text-align: center">Operaciones en la base de datos</h2>
    <button type="button" class="btn btn-success py-4 px-4 col-2">Crear</button>
    <button type="button" class="btn btn-warning py-4 px-4 col-2">Actualizar</button>
    <button type="button" class="btn btn-danger py-4 px-4 col-2">Eliminar</button>
  </div>
{%endblock%}