{%extends "layout.html"%}

{%block content%}
<div class="bg-light p-5 box rounded-2 m-3 text-light bg-dark" data-bs-theme="dark">
    <h1 class="display-4">Bienvenido Administrador!</h1>
    <p class="lead">Aqui encontraras lo necesario para crear, actualizar o borrar lo cuentos del App creada por Ana Saied</p>
    <hr class="my-4">
    <p>Para ver la documentacion relacionada al proyecto, click en el boton de abajo.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Accede al Tutorial</a>
  </div>
{%endblock%}
